<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrashRecon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>TrashRecon</h1>
        <form action="{{ url_for('start') }}" method="post">
            <label for="domain">Enter the domain name:</label>
            <input type="text" id="domain" name="domain" required>
            <button type="submit" style="font-family: 'Press Start 2P', cursive;">Start Recon</button>
        </form>
    </div>
    <div class="character"></div>
</body>
</html>